@model Login
@{ ViewData["Title"] = "Login"; }

<form asp-action="LogIn" method="post">
	<div class="form-group">
		<h2>Login</h2>
		@if (ViewBag.BadLogin)
		{
			<div class="alert alert-danger" role="alert">
				Wrong username or password.
			</div>
		}
		<div>
			<label asp-for="UserName"></label>
			<input asp-for="UserName" class="form-control" />
		</div>
		<div>
			<label asp-for="Password"></label>
			<input asp-for="Password" class="form-control" />
		</div>
		<div asp-validation-summary="All"></div>
		<input type="submit" class="btn btn-primary btn-block" value="Login" />
	</div>
</form>

