
@{ ViewData["Title"] = "About"; }

<div class="jumbotron">
	<h1 class="display-4">About us:</h1>
	<p class="lead">We're just a bunch of dudes trying our best to get that good grade on our WEB project :)</p>
	<hr class="my-4">
	<p>Combining the power of incoherent rage, and agonizing pain, we're facing seemingly mundane issues with huge impacts, but with little pointers to whats the actual issue. But we make due :)</p>
</div>