<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MVC_Project</title>

	<link rel="stylesheet" href="~/vendor-styles/vendor.css" />
	<link rel="stylesheet" href="~/styles/styles.css" />
</head>
<body>
    <nav class="proj-header">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
        <a asp-controller="Info" asp-action="About" class="navbar-brand">About</a>
        <a asp-controller="Info" asp-action="Faq" class="navbar-brand">FAQ</a>
        <a asp-controller="AddProduct" asp-action="Index" class="navbar-brand">Add Product</a>
        <a asp-controller="Cart" asp-action="Index" class="navbar-brand">Cart</a>


        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Login" asp-action="LogOut" class="navbar-brand">Log Out</a>
            <span class="navbar-brand">Logged in as: @User.Identity.Name</span>
        }
        else
        {
            <a asp-controller="Register" asp-action="Index" class="navbar-brand">Register</a>
            <a asp-controller="Login" asp-action="Index" class="navbar-brand">Log In</a>
        }

    </nav>
	<div class="proj-body-container">
		@RenderBody()
	</div>
</body>
</html>
