$header-height: 50px;
$header-button-width: 130px;
$header-button-font-size: 20px;
$body-container-top-border: 2px;

body {
	background-color: ghostwhite;
}

.proj-header {
	width: 100%;
	left: 0px;
	top: 0px;
	height: $header-height;
	position: fixed;
	padding: 0px;
	font-size: 0;
	background-color: whitesmoke;

	a {
		position: static;
		width: $header-button-width;
		line-height: ($header-button-width - $header-button-font-size)/2;
		font-size: $header-button-font-size;
		text-align: center;
		height: 100%;
		border-left: 1px solid lightgray;
		border-right: 1px solid lightgray;
		padding: 0px;
		margin: 0px;
	}

	span {
		position: static;
		line-height: ($header-button-width - $header-button-font-size)/2;
		font-size: $header-button-font-size;
		text-align: center;
		height: 100%;
		border-left: 1px solid lightgray;
		padding: 0 0 0 20px;
		margin: 0px;
	}
}

.proj-body-container {
	margin-top: $header-height;
	border-top: 2px solid black;
	width: 100%;
}

.post-container-mini {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin: 5px;

	img {
		max-height: 300px;
		max-width: 300px;
	}

	.card-body {
		padding: 0;
	}
}

.product-details-container {
	display: inline-block;
	vertical-align: top;
	margin: 5px 20% 5px 20%;
	width: 60%;

	img {
		max-height: 300px;
		max-width: 300px;
	}

	.card-body {
		padding: 0;
	}
}
