@model ProductAddition
@{ ViewData["Title"] = "AddProduct";}
@inject MVC_Project.Services.IAllowedMimes mimeService

<h2>Add Product</h2>
<form asp-controller="AddPRoduct" asp-action="Index" method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="Title"></label>
    </div>
    <div>
        <input asp-for="Title" />
    </div>
    <div>
        <div>
            <label asp-for="ShortDescription"></label>
        </div>
        <input asp-for="ShortDescription" />
    </div>
    <div>
        <label asp-for="LongDescription"></label>
    </div>
    <div>
        <input asp-for="LongDescription" />
    </div>
    <div>

        <label asp-for="Price"></label>
    </div>
    <div>
        <input asp-for="Price" type="number" step="0.01" />
    </div>
    <div>
        <label asp-for="Images"></label>
    </div>
    <div>
        <input asp-for="Images" multiple accept=@mimeService.GetAllowed() />
    </div>

    <div asp-validation-summary="All"></div>
    <input type="submit" value="Submit" />
</form>