.proj-header {
  width: 100%;
  left: 0px;
  top: 0px;
  height: 50px;
  position: fixed;
  border-bottom: 2px solid darkgray;
  padding: 0px;
  font-size: 0; }
  .proj-header a {
    position: static;
    width: 120px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    height: 100%;
    border-left: 1.5px solid whitesmoke;
    border-right: 1.5px solid whitesmoke;
    padding: 0px;
    margin: 0px; }

.proj-body-container {
  margin-top: 50px;
  border-top: 2px solid black;
  width: 100%;
  height: 200px;
  background-color: red; }
