.proj-header {
  width: 100%;
  left: 0px;
  top: 0px;
  height: 50px;
  position: fixed;
  border-bottom: 2px solid darkgray;
  padding: 0px;
  font-size: 0; }
  .proj-header a {
    position: static;
    width: 120px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    height: 100%;
    border-left: 1.5px solid whitesmoke;
    border-right: 1.5px solid whitesmoke;
    padding: 0px;
    margin: 0px; }

.proj-body-container {
  margin-top: 50px;
  border-top: 2px solid black;
  width: 100%;
  background-color: red; }

.post-container-mini {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px; }
  .post-container-mini span {
    display: block;
    padding: 5px;
    color: black;
    background-color: whitesmoke;
    height: 25%; }
  .post-container-mini .title-container {
    border-radius: 5px 5px 0px 0px; }
  .post-container-mini .short-description-container {
    border-radius: 0px 0px 5px 5px; }

.product-details-container {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 30% 5px 30%;
  min-width: 300px; }
  .product-details-container span {
    display: block;
    padding: 5px;
    color: black;
    background-color: whitesmoke; }

.title-container {
  font-size: 20px;
  text-align: center; }

.details-container {
  font-size: 10px;
  color: lightgray; }

.price-container {
  font-size: 14px; }

.short-description-container {
  font-size: 12px; }
