@{
	ViewData["Title"] = "Home Page";
}

@model List<Product>

<form>
	<div class="form-check">
		<span>
			<input type="radio" name="sort" value="Title" />
			Title
		</span>
		<span>
			<input type="radio" name="sort" value="Date" />
			Date
		</span>
		<span>
			<input type="radio" name="sort" value="Price" />
			Price
		</span>
		<span class="splitter"></span>
		<span>
			<input type="checkbox" name="descending" />
			Descending
		</span>
		<span class="splitter"></span>
		<input type="submit" value="Refresh" class="btn btn-primary" />
	</div>
</form>

<div class="card-columns posts-container">
	@foreach (Product product in Model)
	{
		@await Component.InvokeAsync("PostMini", product)
	}
</div>
