@{
	ViewData["Title"] = "Home Page";
}

<div class="productListContainer">
	@*@foreach (Product product in Model)*@
	{
		<div class="productContainer">
			@*@await Component.InvokeAsync("Post", product)*@
		</div>
	}
</div>
