@{
    ViewData["Title"] = "Home Page";
}

@model List<Product>

<form>
    <label>
        Descending
        <input type="checkbox" name="descending"/>
    </label>
    <label>
        Title
        <input type="radio" name="sort" value="Title" />
    </label>
    <label>
        Date
        <input type="radio" name="sort" value="Date" />
    </label>
    <label>
        Price
        <input type="radio" name="sort" value="Price" />
    </label>
    <input type="submit" value="Sort" />
</form>

<div class="card-columns posts-container">
    @foreach (Product product in Model)
    {
        @await Component.InvokeAsync("PostMini", product)
    }
</div>
