@{
	ViewData["Title"] = "Home Page";
}

@model List<Product>

<div class="card-columns posts-container">
	@foreach (Product product in Model)
	{
		@await Component.InvokeAsync("PostMini", product)
	}
</div>
